@model NAUReviewApplication.Models.Group

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<h2>Group Information</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Group Name</dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <a asp-action="Index" class="btn btn-default">
            <span class="glyphicon glyphicon-menu-left">&nbsp;Back</span>
        </a>
        <a asp-action="Edit" asp-route-id="@Model.GroupId" class="btn btn-warning" style="float: right;">
         &nbsp;Edit</a>
    </div>
</div>
</body>
</html>
