@model NAUReviewApplication.Models.Group

@{
    ViewData["Title"] = "Group Info";
}

<h2>Group Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Group Name</dt><dd>@Html.DisplayFor(model => model.GroupId)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt><dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
