
@{
    ViewData["Title"] = "Save";

    string name = "";
    DateTime SurveyDate;

    SurveyDate = DateTime.Today;
}

<h2>Save</h2>

<form method="POST">
    <table style="width:100%;">
        <tr align="center">
            <td>Please enter the name for the survey:<br /><input id="text1" type="text" asp-for="@name" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr align="center">
            <td>
                <input type="submit" value="Create Survey"
                       asp-area="" asp-controller="Admin" asp-action="Create" />
            </td>
        </tr>
    </table>
</form>