@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}



<div class="container">
    <p class="text-center">
        <img src="~/images/logo3.png" />
    </p>
    <br>
    <div class="context">
        <h3>Welcome Admin!</h3>
        <br />
        <ul class="nav nav-pills nav-stacked">
            <li><a href="~/Admin/SaveSurveyPage">Create A Survey</a></li>
            <li><a href="~/Groups/Create">Create Group</a></li>
            <li><a href="~/Category/">Create Catergories</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="~/Admin/">View Surveys</a></li>
            <li><a href="~/Groups/">View Groups</a></li>
            <li><a href="~/Results/">View Results</a></li>
        </ul>
        <ul style="text-align:center" class="nav nav-pills">
            <li><a href="~/Participants/">Create User</a></li>
        </ul>
    </div>
</div>
