@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}



<div class="container">
    <p class="text-center">
        <img src="~/images/logo3.png" />
    </p>
    <br>
    <div class="context">
        <h3>Welcome Admin!</h3>
        <br />
        <ul class="nav nav-pills nav-stacked">
            <li><a href="~/Admin/SaveSurveyPage">Create A Survey</a></li>
            <li><a href="~/Groups/Create">Create Group</a></li>
            <li><a href="~/Category/Create">Create Catergories</a></li>
            <li><a href="~/Participants/Index">Create User</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="~/Admin/Index">View Surveys</a></li>
            <li><a href="~/Groups/Index">View Groups</a></li>
            <li><a href="~/Category/Index">View Categories</a></li>
            <li><a href="~/Results/Index">View Results</a></li>
        </ul>
    </div>
</div>
