@model NAUReviewApplication.Models.Category

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2>Create Category</h2>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-default">
                        <span class="glyphicon glyphicon-menu-left">&nbsp;Back</span>
                    </a>
                    <input type="submit" value="Save" class="btn btn-success" style="float: right;" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
