
@model IEnumerable<NAUReviewApplication.Models.Category>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h2>Category Question Group</h2>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-default">
                            <span class="glyphicon glyphicon-check">&nbsp;Select</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</body>
</html>
