body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.nav-pills > li {
    border: 1px solid lightblue;
    margin-left: 5px;
}

    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        background-color: #e3f2fd;
    }


.context {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.nav-pills {
    width: 50%;
    float: left;
}
