@model ICollection<NAUReviewApplication.Models.SurveyResponse>

@{
    ViewData["Title"] = "Question Results";
    List<string> users = new List<string>();
    users = ViewBag.Usernames;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <h2>Question Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>
                    Participant ID
                </th>
                @if (Model.ElementAt(0).Score.ToString().Equals("-1"))
                {
                    <th>
                        Comment
                    </th>
                }
                else
                {
                    <th>
                        Score
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i=0; i< Model.Count(); i++)
            {
                <tr>
                    <td>
                        @ViewBag.Question
                    </td>
                    <td>
                        @users.ElementAt(i)
                    </td>
                    @if (Model.ElementAt(i).Score.ToString().Equals("-1"))
                    {
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Comment)
                    </td>
                    }
                    else
                    {
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Score)
                    </td>

                    }
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
