@model NAUReviewApplication.Models.SurveyResponse


@{
    ViewData["Title"] = "Survey Responses";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
</body>
</html>
