@model ICollection<NAUReviewApplication.Models.Question>


@{
    ViewData["Title"] = "Survey Responses";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <h1>Survey Questions:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>
                    Question Type
                </th>
                <th>
                    Results
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="QuestionResults" asp-route-id="@item.ID">Question Results</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
